@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f8f8f8;
}

.container {
    display: flex;
}

nav {
    position: fixed; /* Fija el nav en su posición */
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #fff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: 50px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}

nav a {
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

nav a:hover {
    background: #eee;
}

.nav-item {
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}

.logout {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

/* Main Section */
.main {
    padding: 20px;
    width: calc(100% - 200px);
    margin-left: 200px; 
}

.main-top {
    display: flex;
}

.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.main-skills {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.main-skills .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-skills .card h3 {
    margin: 10px;
    text-transform: capitalize;
}

.main-skills .card p {
    font-size: 12px;
}

.main-skills .card button {
    background: rgb(50, 50, 50);
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.main-skills .card button:hover {
    background: #79F2A0;
}

.main-skills .card i {
    font-size: 22px;
    padding: 10px;
}

/* Courses */
.main-course {
    margin-top: 20px;
    text-transform: capitalize;
}

.course-box {
    width: 100%;
    height: auto;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
    list-style: none;
    display: flex;
}

.course-box ul li {
    margin: 10px;
    color: gray;
    cursor: pointer;
}

.course-box ul .active {
    color: #000;
    border-bottom: 1px solid #000;
}

.course-box .course {
    display: flex;
}

/* Estilos para la tabla */
.course-box table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.course-box th, .course-box td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.course-box th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.course-box tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para las celdas */
.course-box td h2 {
    font-size: 18px;
    margin: 0;
}

.course-box td p {
    font-size: 14px;
    margin: 5px 0;
}

.course-box td img {
    border-radius: 10px;
}

button {
    margin-top: 10px;
    background: rgb(50, 50, 50);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background: #79F2A0;
}