header {
    background-color: #f8f8f8;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #79F2A0;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button img {
    height: 100px;
    width: auto;
    transition: transform 0.2s ease;
}

button img:hover {
    transform: scale(1.1);
}

nav ul li img {
    width: 30px;
    /* Ajusta el ancho del icono */
    height: 30px;
    /* Ajusta la altura del icono */
}

